@font-face {
  font-family: 'Redaction';
  src: url(assets/fonts/Redaction_20-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RedactionItalics';
  src: url(assets/fonts/Redaction_20-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  padding-top: 1em;
  font-family: 'Redaction', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
}

/* LANDING PAGE STYLING */

.headingFlexbox{
  position: relative;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0.5rem;
}

.blogTitle{
  display: flex;
  flex-direction: column;
}

.nameSubtitle{
  font-family: 'RedactionItalics', sans-serif;
  color: red;
  margin-top: -20px;
  
}

.postsParent {
  margin-top: 1rem;
  height: 75vh;
  width: 75vw;
  border: 2px solid black;
}

.postsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
}

.postsItem {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImage {
  aspect-ratio: 1;
  height: 100px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* BLOG POSTS STYLING */

.blogpostParent{
  border: 2px solid black;
  width: 75vw;
  min-height: 75vh;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.blogpostTitle{
  align-self: center;
  color: red;
  font-size: 40pt;
}

.blockParent{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20pt;
  gap: 20px;
}

.blogpostImage {
  flex-grow: 0.5;
  max-width: 300px;
}

.backButton {
  position: absolute;
  right: 145%;
}